<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.windly.aac.test">

  <instrumentation
      android:name="android.support.test.runner.AndroidJUnitRunner"
      android:targetPackage="co.windly.aac.main.debug"/>

</manifest>
